// active-label will be extended for labels and inputs

.active-label {
    color: var(--primary-color);

    &:before {
        border-color: var(--primary-color);
    }
}

.multiple-choice-box {
    //position: relative;

    .radio-label {
        border: 2px solid var(--primary-color);
        border-bottom: 0;
        height: 3rem;
        padding: 0.7rem 1rem 1rem 3rem;
        -webkit-transition: all .15s ease;
        transition: all .15s ease;
        background-color: white;
        .label-input {
            background-color: white;
        }

        &:first-of-type {
            border-radius: 3px 3px 0 0;
        }

        &:last-of-type {
            border-bottom: 2px solid var(--primary-color);
            border-radius: 0 0 3px 3px;
        }

        &.add-option {
            padding: 1rem 1rem 1rem 1rem;
            color: lightgrey;
            line-height: 0.7rem;
            &:before {
                content: none;
            }
        }

        &:hover {
            @extend .active-label;
    
            .label-input {
                @extend .active-label;
            }
            .delete-answer {
                visibility: visible; 
            }
        }
    }

    .delete-answer {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
        color: gray;
        visibility: hidden;
        opacity: 0.6;
    }

    &.inverted {
        .radio-label {
            background-color: var(--primary-color);
            border-top: 1px solid rgba(white, .1);
            color: white;
    
            .label-input {
                background-color: var(--primary-color);
                color: white;
                &::-webkit-input-placeholder {
                    color: #eee;
                }
                &:-ms-input-placeholder {
                    color: #eee;
                }
                &::-ms-input-placeholder {
                    color: #eee;
                }
                &::placeholder {
                    color: #eee;
                }
            }
            &:hover {
                opacity: .8;
                &:before {
                    border-color: white;
                }
            }
            &.add-option {
                color: white;
            }
        }
        .delete-answer {
            color: white;
        }
    }

    &.box-layout {
        border: 0px solid white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    
        .radio-input {
            &:hover + label, &:checked + label {
                border: 2px solid var(--primary-color);
                &:before { 
                    border-style: solid;
                    border-width: 20px 20px 0 0;
        
                    border-color: var(--primary-color) transparent transparent transparent;
                    background: none;
                }   
            }
        }
        
        .radio-label {
            position: relative;
            border-radius: 3px;
            border: 2px solid lightgray;
            padding: 35.25% 0 0 0; // 3:4 ratio on the 47% width
            //height: auto;
            width: 47%;
            margin: 0 auto 10px auto;
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word; 
            &:before { 
                z-index: 2;
                left: 0rem;
                top: 0rem;
                width: 0;
                height: 0;
                border-radius: 0;
                border-style: solid;
                border-width: 20px 20px 0 0;
                border-color: lightgray transparent transparent transparent;
                line-height: 0;
            }   
            &.add-option p {
                position: absolute;
                top: 83%;
                width: 100%;
                text-align: center;
            }
        }
        .label-input {
            position: absolute;
            top: 83%;
            text-align: center;
            background-color: white;
        }
    }

    &.inverted.box-layout {
        .radio-input {
            &:hover + label, &:checked + label {
                border: 2px solid var(--primary-color);
                border-radius: 3px;
                &:before { 
                    border-color: white transparent transparent transparent;
                    background: none;
                }   
            }
        }
    }


    &.rtl {
        direction: rtl;
        text-align: right;

        .radio-label {
            padding: 1rem 3rem 1rem 1rem;

            &:before {
                right: 1rem;
            }

            .delete-answer {
                position: absolute;
                right: auto;
                left: 1rem;
                cursor: pointer;
            }
        }
        &.box-layout {
            .radio-label {
                padding: 35.25% 0 0 0; // 3:4 ratio on the 47% width
                &:before {
                    right: 0;
                    left: auto;
                    border-width: 0 20px 20px 0;
                    border-color: transparent lightgray transparent transparent;
                }
            }
            .radio-input {
                &:hover + label, &:checked + label {
                    &:before { 
                        border-width: 0 20px 20px 0;
                        border-color: transparent var(--primary-color)  transparent transparent;
                    }   
                }
            } 
            &.inverted {
                .radio-input {
                    &:hover + label, &:checked + label {
                        &:before { 
                            border-width: 0 20px 20px 0;
                            border-color: transparent white  transparent transparent;
                        }   
                    }
                }
            }   
        }
    }
}

// inputs

// Hide those ugly radioboxes
input[type=radio] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

.label-input {
    font-size: 1rem;
    height: 1.2rem;
    font-weight: bold;
    border: none;
    width: 100%;
    font-family: inherit;

    &:empty:before {
        content: attr(placeholder);
        color: #ddd;
    }

    &::-webkit-input-placeholder {
        opacity: .7;
    }

    &:-ms-input-placeholder {
        opacity: .7;
    }

    &::-ms-input-placeholder {
        opacity: .7;
    }

    &::placeholder {
        opacity: .7;
    }

    &:focus {
        outline: none;
    }
}