// active-label will be extended for labels and inputs

.p-active-label {
    color: var(--primary-color);

    &:before {
        border-color: var(--primary-color);
    }
}

.p-multiple-choice-box {
    height: 100%;
    //margin: 0 2rem 0 2rem;
    border: 1px solid white;
    border-radius: 3px;

    .p-radio-label {
        height: 3rem;
        padding: 1rem 1rem 1rem 3rem;
        border-top: 1px solid rgba(black, .1);
        transition: all .15s ease;

        &:first-of-type {
            border: 0;
        }

        &.p-add-option {
            padding: 1rem 1rem 1rem 1rem;
            color: lightgrey;
            &:before {
                content: none;
            }
        }

        &:hover {
            @extend .p-active-label;
    
            .p-label-input {
                @extend .p-active-label;
            }
            .p-delete-answer {
                color: gray;
            }
        }
    }

    .p-delete-answer {
        position: absolute;
        right: 1rem;
        top: 0.25rem;
        cursor: pointer;
        color:white;
        opacity: 0.6;
    }

    &.p-rtl {
        direction: rtl;
        text-align: right;

        label {
            padding: 1rem 3rem 1rem 1rem;

            &:before {
                right: 1rem;
            }

            .p-delete-answer {
                position: absolute;
                right: auto;
                left: 1rem;
                top: 0.25rem;
                cursor: pointer;
            }

            &:last-of-type {
                padding: 1rem 1rem 1rem 1rem;
            }
        }
    }
}



// inputs

// Hide those ugly radioboxes
input[type=radio] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

.p-label-input {
    font-size: 1rem;
    height: 1rem;
    font-weight: bold;
    border: none;
    width: 100%;
    font-family: inherit;

    &::placeholder {
        color: lightgrey;
    }

    &:focus {
        outline: none;
    }
}

