@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15.2px;
  line-height: 1.5;
  background: #f1f1f1;
  color: #333;
  text-align: left;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  --primary-color: #e0758e;
  --primary-font: "Segoe UI";
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, p {
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  /*remove the resize handle on the bottom right*/
}

.radio-label {
  font-weight: bold;
  line-height: 1.1rem;
  cursor: pointer;
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.radio-label:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16px;
  height: 16px;
  border: .2rem solid #ccc;
}

.radio-label.radio:before {
  border-radius: 50%;
}

.label-input {
  line-height: 1.2rem;
  height: 1.2rem;
}

.radio-input:checked + label:before {
  border-color: white;
  border: none;
  background: var(--primary-color);
}

.inverted .radio-label:before {
  border: .2rem solid white;
}

.inverted .radio-input:checked + label {
  color: white;
}

.inverted .radio-input:checked + label .label-input {
  color: white;
}

.inverted .radio-input:checked + label .label-input:before {
  border-color: white;
}

.inverted .radio-input:checked + label:before {
  border-color: white;
  border: none;
  background: white;
}

.p-problem-external-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 3px;
  background-color: var(--primary-color);
  font-family: var(--primary-font), "Open Sans", sans-serif;
  padding: 2rem 2rem 1rem 2rem;
}

.p-problem-external-box .question-text {
  margin: 0 0 1rem 0;
  color: white;
  font-weight: bold;
  cursor: text;
}

.p-problem-external-box .question-text :empty:before {
  content: attr(placeholder);
  color: #ddd;
}

.p-problem-external-box .question-text :focus {
  outline: none;
}

.p-problem-external-box .question-text .rtl {
  direction: rtl;
  text-align: right;
}

.active-label, .radio-input:checked + label, .radio-input:checked + label .label-input, .multiple-choice-box .radio-label:hover, .multiple-choice-box .radio-label:hover .label-input {
  color: var(--primary-color);
}

.active-label:before, .radio-input:checked + label:before, .radio-input:checked + label .label-input:before, .multiple-choice-box .radio-label:hover:before, .multiple-choice-box .radio-label:hover .label-input:before {
  border-color: var(--primary-color);
}

.multiple-choice-box .radio-label {
  border: 2px solid var(--primary-color);
  border-bottom: 0;
  height: 3rem;
  padding: 0.7rem 1rem 1rem 3rem;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  background-color: white;
}

.multiple-choice-box .radio-label .label-input {
  background-color: white;
}

.multiple-choice-box .radio-label:first-of-type {
  border-radius: 3px 3px 0 0;
}

.multiple-choice-box .radio-label:last-of-type {
  border-bottom: 2px solid var(--primary-color);
  border-radius: 0 0 3px 3px;
}

.multiple-choice-box .radio-label.add-option {
  padding: 1rem 1rem 1rem 1rem;
  color: lightgrey;
  line-height: 0.7rem;
}

.multiple-choice-box .radio-label.add-option:before {
  content: none;
}

.multiple-choice-box .radio-label:hover .delete-answer {
  visibility: visible;
}

.multiple-choice-box .delete-answer {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
  color: gray;
  visibility: hidden;
  opacity: 0.6;
}

.multiple-choice-box.inverted .radio-label {
  background-color: var(--primary-color);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.multiple-choice-box.inverted .radio-label .label-input {
  background-color: var(--primary-color);
  color: white;
}

.multiple-choice-box.inverted .radio-label .label-input::-webkit-input-placeholder {
  color: #eee;
}

.multiple-choice-box.inverted .radio-label .label-input:-ms-input-placeholder {
  color: #eee;
}

.multiple-choice-box.inverted .radio-label .label-input::-ms-input-placeholder {
  color: #eee;
}

.multiple-choice-box.inverted .radio-label .label-input::placeholder {
  color: #eee;
}

.multiple-choice-box.inverted .radio-label:hover {
  opacity: .8;
}

.multiple-choice-box.inverted .radio-label:hover:before {
  border-color: white;
}

.multiple-choice-box.inverted .radio-label.add-option {
  color: white;
}

.multiple-choice-box.inverted .delete-answer {
  color: white;
}

.multiple-choice-box.box-layout {
  border: 0px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.multiple-choice-box.box-layout .radio-input:hover + label, .multiple-choice-box.box-layout .radio-input:checked + label {
  border: 2px solid var(--primary-color);
}

.multiple-choice-box.box-layout .radio-input:hover + label:before, .multiple-choice-box.box-layout .radio-input:checked + label:before {
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: var(--primary-color) transparent transparent transparent;
  background: none;
}

.multiple-choice-box.box-layout .radio-label {
  border-radius: 3px;
  border: 2px solid lightgray;
  height: 10rem;
  width: 47%;
  margin: 0 auto 10px auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 0;
}

.multiple-choice-box.box-layout .radio-label:before {
  z-index: 2;
  left: 0rem;
  top: 0rem;
  width: 0;
  height: 0;
  border-radius: 0;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: lightgray transparent transparent transparent;
  line-height: 0;
}

.multiple-choice-box.box-layout .radio-label.add-option {
  text-align: center;
  padding-top: 7rem;
}

.multiple-choice-box.box-layout .label-input {
  text-align: center;
  height: 40%;
  background-color: white;
}

.multiple-choice-box.inverted.box-layout .radio-input:hover + label, .multiple-choice-box.inverted.box-layout .radio-input:checked + label {
  border: 2px solid var(--primary-color);
  border-radius: 3px;
}

.multiple-choice-box.inverted.box-layout .radio-input:hover + label:before, .multiple-choice-box.inverted.box-layout .radio-input:checked + label:before {
  border-color: white transparent transparent transparent;
  background: none;
}

.multiple-choice-box.rtl {
  direction: rtl;
  text-align: right;
}

.multiple-choice-box.rtl .radio-label {
  padding: 0.7rem 3rem 1rem 1rem;
}

.multiple-choice-box.rtl .radio-label:before {
  right: 1rem;
}

.multiple-choice-box.rtl .radio-label .delete-answer {
  position: absolute;
  right: auto;
  left: 1rem;
  cursor: pointer;
}

.multiple-choice-box.rtl.box-layout .radio-label {
  padding: 0;
}

.multiple-choice-box.rtl.box-layout .radio-label:before {
  right: 0;
  left: auto;
  border-width: 0 20px 20px 0;
  border-color: transparent lightgray transparent transparent;
}

.multiple-choice-box.rtl.box-layout .radio-label.add-option {
  padding-top: 7rem;
}

.multiple-choice-box.rtl.box-layout .radio-input:hover + label:before, .multiple-choice-box.rtl.box-layout .radio-input:checked + label:before {
  border-width: 0 20px 20px 0;
  border-color: transparent var(--primary-color) transparent transparent;
}

.multiple-choice-box.rtl.box-layout.inverted .radio-input:hover + label:before, .multiple-choice-box.rtl.box-layout.inverted .radio-input:checked + label:before {
  border-width: 0 20px 20px 0;
  border-color: transparent white  transparent transparent;
}

input[type=radio] {
  display: none;
}

input[type=checkbox] {
  display: none;
}

.label-input {
  font-size: 1rem;
  height: 1.2rem;
  font-weight: bold;
  border: none;
  width: 100%;
  font-family: inherit;
}

.label-input::-webkit-input-placeholder {
  opacity: .7;
}

.label-input:-ms-input-placeholder {
  opacity: .7;
}

.label-input::-ms-input-placeholder {
  opacity: .7;
}

.label-input::placeholder {
  opacity: .7;
}

.label-input:focus {
  outline: none;
}
/*# sourceMappingURL=multipleChoice.css.map */