@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15.2px;
  line-height: 1.5;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  background: #f1f1f1;
  color: #333;
  text-align: left;
}

body {
  margin: 0;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  --primary-color: #e0758e;
  --primary-font: "Segoe UI";
}

.container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1, h2, h3, p {
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.p-radio-label {
  font-weight: bold;
  line-height: 1.1rem;
  cursor: pointer;
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-radio-label:before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 16px;
  height: 16px;
  border: .2rem solid #ccc;
}

.p-radio-label.p-radio:before {
  border-radius: 50%;
}

.p-radio-input:checked + label:before {
  border-color: white;
  border: none;
  background: var(--primary-color);
}

.p-problem-external-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 3px;
  background-color: var(--primary-color);
  font-family: var(--primary-font), "Open Sans", sans-serif;
  padding: 2rem 2rem 1rem 2rem;
}

.p-problem-external-box .p-question-text {
  margin: 0 0 1rem 0;
  color: white;
  font-weight: bold;
  cursor: text;
}

.p-problem-external-box .p-question-text :empty:before {
  content: attr(placeholder);
  color: #ddd;
}

.p-problem-external-box .p-question-text :focus {
  outline: none;
}

.p-problem-external-box .p-question-text .p-rtl {
  direction: rtl;
  text-align: right;
}

.p-problem-external-box label {
  background-color: white;
}

.p-problem-external-box label input {
  background-color: white;
}

.p-problem-external-box .p-validation {
  margin: 1em 0;
}

.p-problem-external-box .p-button {
  background-color: white;
  color: black;
  margin: 1rem 0 0 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.p-problem-external-box .p-button:hover {
  background-color: #eee;
}

.p-active-label, .p-radio-input:checked + label, .p-radio-input:checked + label .p-label-input, .p-multiple-choice-box .p-radio-label:hover, .p-multiple-choice-box .p-radio-label:hover .p-label-input {
  color: var(--primary-color);
}

.p-active-label:before, .p-radio-input:checked + label:before, .p-radio-input:checked + label .p-label-input:before, .p-multiple-choice-box .p-radio-label:hover:before, .p-multiple-choice-box .p-radio-label:hover .p-label-input:before {
  border-color: var(--primary-color);
}

.p-multiple-choice-box {
  height: 100%;
  border: 1px solid white;
  border-radius: 3px;
}

.p-multiple-choice-box .p-radio-label {
  height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.p-multiple-choice-box .p-radio-label:first-of-type {
  border: 0;
}

.p-multiple-choice-box .p-radio-label.p-add-option {
  padding: 1rem 1rem 1rem 1rem;
  color: lightgrey;
}

.p-multiple-choice-box .p-radio-label.p-add-option:before {
  content: none;
}

.p-multiple-choice-box .p-radio-label:hover .p-delete-answer {
  color: gray;
}

.p-multiple-choice-box .p-delete-answer {
  position: absolute;
  right: 1rem;
  top: 0.25rem;
  cursor: pointer;
  color: white;
  opacity: 0.6;
}

.p-multiple-choice-box.p-rtl {
  direction: rtl;
  text-align: right;
}

.p-multiple-choice-box.p-rtl label {
  padding: 1rem 3rem 1rem 1rem;
}

.p-multiple-choice-box.p-rtl label:before {
  right: 1rem;
}

.p-multiple-choice-box.p-rtl label .p-delete-answer {
  position: absolute;
  right: auto;
  left: 1rem;
  top: 0.25rem;
  cursor: pointer;
}

.p-multiple-choice-box.p-rtl label:last-of-type {
  padding: 1rem 1rem 1rem 1rem;
}

input[type=radio] {
  display: none;
}

input[type=checkbox] {
  display: none;
}

.p-label-input {
  font-size: 1rem;
  height: 1rem;
  font-weight: bold;
  border: none;
  width: 100%;
  font-family: inherit;
}

.p-label-input::-webkit-input-placeholder {
  color: lightgrey;
}

.p-label-input:-ms-input-placeholder {
  color: lightgrey;
}

.p-label-input::-ms-input-placeholder {
  color: lightgrey;
}

.p-label-input::placeholder {
  color: lightgrey;
}

.p-label-input:focus {
  outline: none;
}
/*# sourceMappingURL=multipleChoice.css.map */