@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

// general settings

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 15.2px;
    line-height: 1.5;
    background: #f1f1f1;
    color: #333;
    text-align: left;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    --primary-color: #e0758e;
    --primary-font: "Segoe UI";

}

#root {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;

}

.container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

h1, h2, h3, p {
    margin: 0;
    -webkit-margin-before: 0;
            margin-block-start: 0;
    -webkit-margin-after: 0;
            margin-block-end: 0;
}


// micro components

@import 'radio-checkbox';

// app sections

@import 'problem-box';

// specific problem types

@import 'multiple-choice';

@import 'image';

