html {
    --primary-color: #e0758e;
    box-sizing: border-box;
    font-size: 95%;
    line-height: 1.5;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    background-color: var(--primary-color);
    color: #333;
    text-align: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.question-text {
    padding: 0rem 2rem 0rem 2rem;
    width: 100%;
}

.question-text p {
    text-align: left;
    border: none;
    background: none;
    color: white;
    opacity: 1;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    width: 100%;
    cursor: text;
}

.question-text p.rtl {
    direction: rtl;
    text-align: right;
}

.box {
    height: 100%;
    margin: 1rem 2rem 0 2rem;
    border: 1px solid white;
    border-radius: 3px;
    text-align: left;
}

/* line 75, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.box.rtl {
    direction: rtl;
    text-align: right;
}

/* line 77, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.box.rtl label {
    padding: 1rem 3rem 1rem 1rem;
}

/* line 79, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.box.rtl label:before {
    left: 0;
    right: 1rem;
}

/* line 89, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.output {
    color: gray;
    white-space: pre-wrap;
    height: 500px;
    margin: 15px;
}

/* line 97, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
h1 {
    color: #fff;
    margin: 10% 0 0 0;
}

/* line 102, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
h3 {
    font-size: 15px;
    font-weight: 200;
    margin: 15px 0 5px 15px;
}

/* line 108, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
p {
    color: #fff;
    font-size: .9rem;
    opacity: .6;
}

/*****
 *
 * Radio checked style related
 * the fun part starts here
 *
 */
/* line 124, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
input[type=radio] {
    display: none;
}

/* line 128, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
input[type=checkbox] {
    display: none;
}

/**
 * How it should look when hovered
 */
/* line 135, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.active-label, label:focus, label:active, label:hover, label:hover .labelInput, input:checked + label, input:checked + label .labelInput {
    color: var(--primary-color);
}

/* line 138, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.active-label:before, label:focus:before, label:active:before, label:hover:before, label:hover .labelInput:before, input:checked + label:before, input:checked + label .labelInput:before {
    background: white;
    border-color: var(--primary-color);
}

/**
 * Make those labels sexy
 */
/* line 147, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
label {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1rem;
    height: 3rem;
    cursor: pointer;
    display: block;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .15s ease;
    /**
   * This is the radio fake dot basically
   */
}

/* line 174, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
label:first-of-type {
    border: 0;
}

/* line 181, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
label:before {
    content: "";
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 16px;
    height: 16px;
    border: .2rem solid #ccc;
}

/* line 190, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
label.radio:before {
    border-radius: 50%;
}

/* line 195, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.widget-external-box label {
    border: 0px;
    padding: .5rem 1rem .5rem 3rem;
}

/* line 198, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.widget-external-box label.radio:before {
    top: 0.5rem;
}

/* line 203, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.labelInput {
    font-size: 1rem;
    height: 1rem;
    padding: 0;
    font-weight: bold;
    border: none;
    width: 100%;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
}

/* line 211, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.labelInput::placeholder {
    color: lightgrey;
}

/* line 214, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
.labelInput:focus {
    outline: none;
}

/**
 * How it should look when checked
 */
/* line 229, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
input:checked + label:before {
    border-color: white;
    border: none;
    background: var(--primary-color);
}

/**
 * How it should look when disabled
 */
/* line 239, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
input:disabled + label {
    background: #efefef;
    color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
}

/* line 244, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
input:disabled + label:hover {
    border-color: rgba(0, 0, 0, 0.1);
}

/* line 248, ../../Users/cooca/Google Drive/Guy/Guy projects/edx/js-problems/client/src/mystyle.scss */
input:disabled + label:before {
    border-color: white;
    background: white;
}