@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

// general settings

html {
    box-sizing: border-box;
    font-size: 15.2px;
    line-height: 1.5;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    background: #f1f1f1;
    color: #333;
    text-align: left;
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    --primary-color: #e0758e;
    --primary-font: "Segoe UI";
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, {
    margin: 0;
}

// login specific elements

@import 'header';
@import 'login-elements';


// the app

.app-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

// micro components

@import 'button';
@import 'text-input';
@import 'radio-checkbox';
@import 'dropdown';

// app sections

@import 'widget';
@import 'problem-box';

// specific problem types

@import 'multiple-choice';



.validation {
    align-self: center;
    font-size: 0.9rem;
    color: white;
    &.login-validation {
        width: 100%;
        //position: absolute;
        color: red;
        opacity: 0.6;
        bottom: -25px;
        margin: 0;
        text-align: center;
        visibility: hidden;
    }
}

.picker {
    display: flex;
    align-items: baseline;
    margin-left: 15px;
}

