@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// TODO this is so ugly needs to be dynamically selected by env
@import url("http://localhost:5000/multipleChoice.css"); 
@import url("http://designedx-env.pudztim2wa.us-east-2.elasticbeanstalk.com/multipleChoice.css");

// general settings

/* html {
    box-sizing: border-box;
    font-size: 15.2px;
    line-height: 1.5;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    background: #f1f1f1;
    color: #333;
    text-align: left;
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    --primary-color: #e0758e;
    --primary-font: "Segoe UI";
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, {
    margin: 0;
} */

// login specific elements

@import 'header';
@import 'login-elements';


// the app

.app-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 2rem;
}

// micro components

@import 'button';
@import 'text-input';
//@import 'radio-checkbox';
@import 'dropdown';

// app sections

@import 'widget';
//@import 'problem-box';

// specific problem types
 
@import 'problem-box';
@import 'image-uploader';
//@import 'multiple-choice';
//@import 'radio-checkbox';

 

.validation {
    align-self: center;
    font-size: 0.9rem;
    color: white;
    &.login-validation {
        width: 100%;
        //position: absolute;
        color: red;
        opacity: 0.6;
        bottom: -25px;
        margin: 0;
        text-align: center;
        visibility: hidden;
    }
}

.picker {
    display: flex;
    align-items: baseline;
    margin-left: 15px;
}


// more font to be downloaded last
@import url(https://fonts.googleapis.com/css?family=Alef);
@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Rakkas);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Spectral);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Yatra+One);