@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

html {
    box-sizing: border-box;
    font-size: 15.2px;
    line-height: 1.5;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    background: #f1f1f1;
    color: #333;
    text-align: center;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    --primary-color: #e0758e;
    --primary-font: "Segoe UI";
}

.header {
    background-color: #E4E4E4;
    height: 100px;
    width: 100%;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-box {
        margin-left: 20px;
        color: #e0758e;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .logo {
            color: #e0758e;
            margin: 0;
            font-size: 27px;
        }
        .logo-description {
            margin: 0;
            font-size: 15px;
            font-weight: normal;
        }
    }
}

.my-profile {
    display: flex;
    margin: 20px;
    p {
        margin: 20px;
        color: #e0758e;
        font-size: 15px;
    }
    #logout {
        cursor: pointer;
        &:hover {
            color: #794d57;
        }
    }
}

.app-content {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

*, *:before, *:after {
    box-sizing: inherit;
}


.widget-external-box {
    height: 100%;
    width: 25%;
    margin-top: 2rem;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding-bottom: 15px;
}

.problem-external-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 35%;
    margin-top: 2rem;
    background: white;
    border-radius: 3px;
    text-align: left;
    background-color: var(--primary-color);
    font-family: var(--primary-font), 'Open Sans', sans-serif;


    button {
        background-color: white;
        color: black;
        border: none;
        border-radius: 1px;
        padding: 5px 10px;
        font-family: 'Segoe UI', 'Open Sans', sans-serif;
        margin: 1rem 2rem;
        align-self: flex-end;
    }
}

.box-header {
    width: 100%;
    height: 50px;
    border-radius: 3px 3px 0 0;
    background-color: #E4E4E4;
    

    h2 {
        margin: 0;
        font-size: 20px;
        line-height: 50px;
        font-weight: 100;
        margin-left: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.question-text {
    padding: 1rem 2rem 0rem 2rem;
    width: 100%;
    p {
        border: none;
        background: none;
        color: white;
        opacity: 1;
        font-family: inherit;
        font-size: inherit;
        font-weight: bold;
        width: 100%;
        cursor: text;
    }
    :empty:before {
        content: attr(placeholder);
        color: #ddd;
    }
    :focus {
        outline: none;
    }
    .rtl {
        direction: rtl;
        text-align: right;
    }
}

.box {
    height: 100%;
    margin: 0 2rem 0 2rem;
    border: 1px solid white;
    border-radius: 3px;

    label .delete-answer {
        position: absolute;
        right: 1rem;
        top: 0.25rem;
        cursor: pointer;
    }

    &.rtl {
        direction: rtl;
        text-align: right;

        label {
            padding: 1rem 3rem 1rem 1rem;

            &:before {
                right: 1rem;
            }
            .delete-answer {
                position: absolute;
                right: auto;
                left: 1rem;
                top: 0.25rem;
                cursor: pointer;
            }
            &:last-of-type {
                padding: 1rem 1rem 1rem 1rem;
            }
        }
    }
}

.add-option {
    padding: 1rem 1rem 1rem 1rem;
    color: lightgrey;
    &:before {
        content: none;
    }
}


.output {
    color: gray;
    white-space: pre-wrap;
    height: 500px;
    margin: 15px;
}


h1 {
    color: #fff;
    margin: 10% 0 0 0;
}

h3 {
    font-size: 15px;
    font-weight: 200;
    margin: 15px 0 5px 15px;
}

p {
    color: #fff;
    font-size: .9rem;
    opacity: .6;
}


/*****
 *
 * Radio checked style related
 * the fun part starts here
 *
 */


// Hide those ugly radioboxes
input[type=radio] {
    display: none;
}

input[type=checkbox] {
    display: none;
}

.text-input {
    outline: none;
    display: block;
    border: 1px solid #e0758e;
    border-radius: 2px;
    margin: 30px auto 0 auto;
    padding-left: 10px;
    width: 90%;
    height: 30px;;
}

.login-button {
    border: 0;
    text-decoration: none;
    display: block;
    border-radius: 2px;
    background-color: #e0758e;
    margin: 30px auto 30px auto;
    text-align: center;
    width: 90%;
    height: 30px;
    outline: none;
    color: white;
    &:hover {
        background-color: #e093a5;
    }
}

.change-login {
    color: #707070;
}

/**
 * How it should look when hovered
 */
.active-label {
    color: var(--primary-color);

    &:before {
        background: white;
        border-color: var(--primary-color);
    }
}

/**
 * Make those labels sexy
 */
label {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1rem;
    height: 3rem;
    cursor: pointer;
    display: block;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    border-top: 1px solid rgba(black, .1);
    background: white;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .15s ease;

    &:focus,
    &:active {
        @extend .active-label;
    }

    &:hover {
        @extend .active-label;

        .labelInput {
            @extend .active-label;
        }
        .delete-answer {
            color: gray;
        }
    }


    &:first-of-type {
        border: 0;
    }

    /**
   * This is the radio fake dot basically
   */
    &:before {
        content: "";
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 16px;
        height: 16px;
        border: .2rem solid #ccc;
    }

    &.radio:before {
        border-radius: 50%;
    }
}

.widget-external-box {
    label {
        border: 0px;
        padding: .5rem 1rem .5rem 3rem;
        height: 2rem;
        &.radio:before {
            top: 0.5rem;
        }
    }
    input:checked + label{
        color:  #e0758e;
        &:before {
            background-color: #e0758e;
        }
    }
}

.labelInput {
    font-size: 1rem;
    height: 1rem;
    padding: 0;
    font-weight: bold;
    border: none;
    width: 100%;
    font-family: inherit;


    &::placeholder {
        color: lightgrey;
    }

    &:focus {
        outline: none;
    }
}

/**
 * How it should look when checked
 */
input:checked + label {
    @extend .active-label;

    .labelInput {
        @extend .active-label;
    }

    &:before {
        border-color: white;
        border: none;
        background: var(--primary-color);
    }
}

/**
 * How it should look when disabled
 */
input:disabled + label {
    background: #efefef;
    color: rgba(black, .5);
    cursor: not-allowed;

    &:hover {
        border-color: rgba(black, .1);
    }

    &:before {
        border-color: white;
        background: white;
    }
}

.options-box {
    display: block;
    position: relative;
}

.validation {
    align-self: center;
    &.login-validation {
        width: 100%;
        position: absolute;
        color: red;
        bottom: -25px;
        margin: 0;
        text-align: center;
        visibility: hidden;
    }
}

.picker {
    display: flex;
    align-items: baseline;
    margin-left: 15px;

    &.dropdown {
        position: relative;
        background-color: white;
        width: auto;
        float: left;
        max-width: 100%;
        border: 1px solid #e0758e;
        border-radius: 3px;
        select {
          cursor: pointer;
          font-family: 'Segoe UI', 'Open Sans', 'sans-serif';
          font-size: 1rem;
          font-weight: 400;
          max-width: 100%;
          padding: 4px 12px 4px 10px;
          border: none;
          background-color: transparent;
          -webkit-appearance: none;
             -moz-appearance: none;
                  appearance: none;
          &:active,
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
        &:after {
          content: " ";
          position: absolute;
          top: 50%;
          margin-top: -2px;
          right: 8px;
          width: 0; 
          height: 0; 
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #aaa;
          pointer-events: none;
        }
    }
}