@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("http://localhost:5000/multipleChoice.css");
/* html {
    box-sizing: border-box;
    font-size: 15.2px;
    line-height: 1.5;
    font-family: 'Segoe UI', 'Open Sans', sans-serif;
    background: #f1f1f1;
    color: #333;
    text-align: left;
}

body {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    --primary-color: #e0758e;
    --primary-font: "Segoe UI";
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1, h2, h3, {
    margin: 0;
} */
@import url(https://fonts.googleapis.com/css?family=Alef);
@import url(https://fonts.googleapis.com/css?family=Concert+One);
@import url(https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Rakkas);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Spectral);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Yatra+One);
.header {
  background-color: #E4E4E4;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #e0758e;
}

.header .logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo-box .logo {
  font-size: 27px;
}

.header .logo-box .logo-description {
  font-size: 15px;
  font-weight: normal;
}

.header .my-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .my-profile p {
  margin-right: 40px;
}

.header .my-profile #logout {
  cursor: pointer;
}

.header .my-profile #logout:hover {
  color: #794d57;
}

.login-wrapper {
  width: 100%;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-button {
  width: 90%;
  height: 30px;
}

.change-login {
  color: #707070;
  font-size: .9rem;
  opacity: 0.6;
  margin: 1rem;
}

.app-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 2rem;
}

.button {
  border: 0;
  font-family: 'Segoe UI', 'Open Sans', sans-serif;
  text-decoration: none;
  display: block;
  border-radius: 2px;
  background-color: #e0758e;
  margin: 30px auto 10px auto;
  text-align: center;
  padding: 5px 10px;
  outline: none;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #e093a5;
}

.text-input {
  outline: none;
  display: block;
  border: 1px solid #e0758e;
  border-radius: 2px;
  margin: 30px auto 0 auto;
  padding-left: 10px;
  width: 90%;
  height: 30px;
}

.dropdown {
  position: relative;
  background-color: white;
  width: auto;
  float: left;
  max-width: 100%;
  border: 1px solid #e0758e;
  border-radius: 3px;
}

.dropdown select {
  cursor: pointer;
  font-family: 'Segoe UI', 'Open Sans', 'sans-serif';
  font-size: 1rem;
  font-weight: 400;
  max-width: 100%;
  padding: 4px 12px 4px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown select:active, .dropdown select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown:after {
  content: " ";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #aaa;
  pointer-events: none;
}

.widget-external-box {
  height: 100%;
  width: 25%;
  background: white;
  border-radius: 3px;
  padding-bottom: 15px;
  margin: 0 3.75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.widget-external-box .widget-header {
  border-radius: 3px 3px 0 0;
  background-color: #E4E4E4;
}

.widget-external-box .widget-header h2 {
  font-size: 1.3rem;
  line-height: 50px;
  font-weight: 100;
  margin-left: 15px;
}

.widget-external-box h3 {
  font-size: 15px;
  font-weight: 200;
  margin: 15px 0 5px 15px;
}

.widget-external-box .radio-label {
  border: 0px;
  padding: .5rem 1rem .5rem 3rem;
  height: 2rem;
}

.widget-external-box .radio-label:before {
  top: 0.5rem;
}

.widget-external-box .radio-label:hover {
  color: #e0758e;
}

.widget-external-box .radio-label:hover:before {
  border: .2rem solid #e0758e;
}

.widget-external-box input:checked + .radio-label {
  color: #e0758e;
}

.widget-external-box input:checked + .radio-label:before {
  background-color: #e0758e;
}

.widget-external-box .output {
  font-size: 0.9rem;
  color: #bbb;
  margin: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 500px;
}

.problem-external-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 35%;
  background: white;
  border-radius: 3px;
  background-color: white;
  font-family: var(--primary-font), "Open Sans", sans-serif;
  padding: 2rem 2rem 1rem 2rem;
}

.problem-external-box .question-text {
  margin: 0 0 1rem 0;
  color: var(--primary-color);
  font-weight: bold;
  cursor: text;
}

.problem-external-box .question-text :empty:before {
  content: attr(placeholder);
  color: #ddd;
}

.problem-external-box .question-text :focus {
  outline: none;
}

.problem-external-box .question-text .rtl {
  direction: rtl;
  text-align: right;
}

.problem-external-box .validation {
  color: gray;
  margin: 1em 0;
}

.problem-external-box .button {
  background-color: gray;
  color: white;
  margin: 1rem 0 0 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.problem-external-box .button:hover {
  background-color: #9a9a9a;
}

.dropzone-container {
  position: relative;
  height: 60%;
}

.dropzone {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  -webkit-transition: border .24s ease-in-out;
  transition: border .24s ease-in-out;
  position: relative;
}

.dropzone:focus {
  border-color: #2196f3;
}

.preview-image {
  background-color: white;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.preview-image img {
  width: auto;
  max-height: 100%;
  display: block;
  margin: auto;
}

.validation {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 0.9rem;
  color: white;
}

.validation.login-validation {
  width: 100%;
  color: red;
  opacity: 0.6;
  bottom: -25px;
  margin: 0;
  text-align: center;
  visibility: hidden;
}

.picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: 15px;
}
/*# sourceMappingURL=mystyle.css.map */